#Titulo {
  display: flex;
  size: 20%;

}
.cabeçalho{
  background-color: rgb(255, 255, 255);
  color: rgb(14, 13, 13);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 24px 0;
  }
}
.body{
  color: black;
  display: 
  flex;
}

.beneficios-img{
  display: flex;
  width: 100%;
}
.receitas-img{
  display: flex;
  width: 100%;
}