#Titulo {
  display: flex;
  size: 20%;

}
.cabeçalho{
  background-color: rgb(255, 255, 255);
  color: rgb(223, 68, 68);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 24px 0;
  }

body{
  background-color: rgb(209, 202, 202);
  font-size: 20px;
 
}

.beneficios-img{
  display: flex;
  width: 100%;
}
.receitas-img{
  display: flex;
  width: 100%;
}
.lista-2{
  align-items: center;
  text-align: left;
  
}
.texto-1{
text-align: center;
font-size: 30px;
}
.botao-pg-2{
  padding: 10px 20px;
  background-color: #8733ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
body{
  background-color: rgb(209, 202, 202);
  font-size: 20px;
}